<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Confirmación de código</title>
  </head>
  <body>
    <h2>Confirmación</h2>
    <p>Tu código para confirmar es:</p>
    <p style="font-size: 20px"><strong>{{ code }}</strong></p>
  </body>
</html>
